doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title ng2 playground    
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')      
    script(src='/vendor/webcomponentsjs/webcomponents-lite.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')    
    link(rel='import' href='/vendor/polymer/polymer.html') 
    link(rel='import' href='/polymer/custom.html')    
    
  body    
    app Loading...
    
    script(src = "#{webpack_asset('vendors').js}")
    script(src = "#{webpack_asset('main').js}")    
    