<section class="jumbotron">
    <div class="row">
         <!--  <form class="inline-form">-->
      <form (ngSubmit)="submit()" class="inline-form"> 
            <div class="col-md-3">
                <div class="form-group">
                    <label for="manufacter">Made by</label>
                    <select class="form-control" [disabled]='loading' [(ngModel)]="carFormModel.manufacter" [ngFormControl]='manufacter' name="manufacter"
                    id="manufacter">
                        <option value="">Any</option>
                        <option *ngFor="#manufacter of carManufacters" [value]="manufacter.name">{{manufacter.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="manufacter">Model</label>
                    <select class="form-control" [disabled]='loading || !carFormModel.manufacter' [(ngModel)]="carFormModel.model" [ngFormControl]='model'
                    name="model" id="model">
                        <option value="">Any</option>
                        <option *ngFor="#model of carModels" [value]="model.name">{{model.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="yearFrom">First registration</label>
                    <select class="form-control" [ngFormControl]='yearFrom' [(ngModel)]="carFormModel.yearFrom" name="yearFrom" id="yearFrom">
                        <option value="">Any</option>
                        <option *ngFor="#yearFrom of yearFroms" [value]="yearFrom">{{yearFrom}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="priceUp">Price up to</label>
                    <input type="number" class="form-control" name="priceUp" id="priceUp" [(ngModel)]="carFormModel.priceUp" [ngFormControl]='priceUp'
                    />
                </div>
            </div>
            <div class="col-md-2">
               
                <button class="btn btn-default">Show {{carCount}}</button>
                <!--
                  <button type="submit" (click)="submit()" class="btn btn-default">Show {{carCount}}</button>
                   -->
            </div>
        </form>
    </div>
</section>